.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-end;
}

.header-logo {
  width: 200px;
  height: 900px;
  object-fit: contain;
  position: absolute;
  left: 5px;
}

/* Hide logo when screen width is less than 600px */
@media screen and (max-width: 600px) {
  .header-logo {
    display: none;
  }
}

/* Optional: You can add multiple breakpoints */
@media screen and (max-width: 1024px) {
  .header-logo {
    width: 140px; /* Make logo smaller on medium screens */
    height: 60px;
  }
}

.App-header h1 {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: right;
  padding-right: 5px;
  margin-right: 5px;
}

.App-link {
  color: #61dafb;
}

